body {
    background-image: url("../images/country-quilt.png");
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height: 24px;
    display: inline-block;
}
div {
    margin-bottom: 10px;
}

.wrapper {
    width: 70%;
    margin: 3%;
    max-inline-size: 90%;
}

header {
    background-color: orange;
    color: white; 
    font-size: 24px;
    margin-bottom: 10px;
    font-style: bold;
}


.instruction {
    background-color: beige;
    color: green;
}

.crystal {
    width: 25%;
    float: left;
    overflow: auto;
}

#points , #goal , #wins {
    padding: 30px;
    height: 60px;
    border-right: 20px;
    width: 33%;
    background-color: darkgreen;
    color: lightgreen;
}

#wins {
    background-color: lightblue;
    color: darkblue;
}
#points {
    overflow: auto;
    float: bottom;
}
